<ng-container *ngIf="!!(context || loading) else error">
	<viewport>
		<canvas #canvasEl id="glaive"></canvas>
	</viewport>
</ng-container>


<ng-template #error>
	<p *ngIf="err">{{err}}</p>
	<p *ngIf="!err">Generic Error</p>
</ng-template>



<!--	<p  *ngIf="!!(err$ | async)">
		{{err$ | async}}
	</p>
-->